cmudict
cn2an
g2p_en
jieba
loguru
nltk<=3.8.1
num2words
numba
numpy<2
onnxruntime
pydantic>=2.0
pyopenjtalk-dict
pypinyin
pyworld-prebuilt
safetensors
transformers<4.47.0
accelerate
librosa==0.9.2
pyannote.audio>=3.1.0,<4
tensorboard
pyloudnorm
pyyaml
scipy
tqdm
psutil
GPUtil
fastapi
uvicorn
soxr
setuptools<82
